:root {
    --primary-color: #a24a57;
    ;
    --button-color: #a24a57;
}

@font-face {
    font-family: "Futura";
    src: url("./assets/font/Futura_Medium.ttf");
}

@font-face {
    font-family: "Futura Heavy";
    src: url("./assets/font/Futura_Heavy.ttf");
}

@font-face {
    font-family: "Futura Condensed";
    src: url("./assets/font/Futura_Medium_Condensed.ttf");
}

body {
    font-family: "Futura";
    text-align: center;
}

.nav-link {
    color: var(--primary-color);
}

.navbar {

    background-color: var(--primary-color);
    padding: 10px;

}
.footer { 
    background-color: #ffffff;
}
.navbar-brand span {
    color: var(--primary-color);
    letter-spacing: 5px;
    font-family: "Futura";
}

.sticky-topBar {
    background-color: white;
    top: 0;
    z-index: 100;
    position: sticky;
}

.buy-button {
    margin-top: 40px;
    color: white;
    background-color: var(--primary-color);
    width: 100%;
}

.hover-button {
    background-color: #ffffff00;
    color: #ffffff00;
    border-color: #ffffff00;

}


.product-image:hover+.hover-button,
.hover-button:hover,
.hover-button:active {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: #ffffff;
}

.hover-button {
    border-radius: 0;

}

.card-title {
    font-family: "Futura Heavy";
}
.mycol {
  padding: 0;
  margin: 0;
  max-width: calc(100% / 5 - 10px);
  display: flex;
  justify-content: center;
}
.carousel-item {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.card-img-top {
    width: auto;
    height: 190px;
    object-fit: contain;
}

.card-body {
    margin-top: auto
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

  /* 
        
  ------------- Discount Code ----------------

  */
.discountcode {
    position: sticky;
    z-index: 100;
    background-color: var(--primary-color);
    color: white;

    padding: 10px;
    text-align: center;
    margin: auto;
}

  /* 
        
  ------------- CONTACT ME STYLE SECTION ----------------

  */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    z-index: 1001;
}

.popup-content h2 {
    margin: 0 0 10px;
    color: var(--primary-color);
}

.popup-content label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
}

.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.popup-content button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #ab5e89;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #8b466c;
}

.close-popup:hover {
    color: #c06295;
}

  /* 
        
  ------------- AD STYLES SECTION ----------------

  */
.ad-popup {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .ad-popup-content {
    position: relative;
    background-color: white;
    padding: 10px;
    height: 80vh;
    max-width: 80vh;
    
    overflow: hidden;
    border-radius: 10px;
  }
  
  .ad-popup-img {
    height: 100%;
    object-fit: contain;
  }
  
  .ad-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
  .ad-close-btn:hover {
    color: red;
  } .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .gallery-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* 
        
  ------------- ABOUT ME STYLES SECTION ----------------

  */
  .group-photo {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .about-company {
    background-image: url("./assets/img/aboutme/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;  

  }

  .about-company h2 {
    font-size: 2rem;
    text-align:center;
    color: #333;
    margin-bottom: 20px;
  }

  .about-company p {
    color: #555;
    text-align: left;
    line-height: 1.8;
    font-size: 0.9rem;
  }

  .about-section {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }




  .team-card {

    background-color: #ffffff;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }

  .team-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid var(--primary-color);
    margin-bottom: 20px;
  }

  .team-card h3 {
    font-size: 1.5rem;
    color:var(--primary-color);
    margin-bottom: 10px;
  }

  .team-card p {
    font-size: 1.1rem;
    color: rgb(72, 72, 72) ;
  }

  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 20px 0;
    background: #5b5959;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .about-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .about-section .text {
    max-width: 70%;
  }

  .about-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  .about-section p {
    color: #555;
    line-height: 1.6;
  }

